<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="navbar-container">
        <div class="title-brand">
            <P>KopiKita</P>
        </div>

        <div class="nav-content">
            <div class="nav">Shop</div>
            <div class="nav"> About KopiKita</div>
            <div class="nav">Find The Location</div>
        </div>
    </div>

    <div class="section-start">
        <img src="/static/img/ideogram-v3.0_premium_coffee_brand_KopiKita_product_scene_with_three_items_bottled_coffee_grou-0.jpg">

        <div class="hero-text">
            <P class="head-hero">New Coffe Brand</P>
            <h2>Start Your Day the Better Way</h2>
            <p>Kopi berkualitas tinggi yang memberikan<br> energi, fokus, dan rasa yang tak terlupakan.</p>
        </div>
    </div>

    <div class="section-product">
        <div class="head-product">
            <p class="label">OUR COLLECTION</p>
            <h2>Best Sellers</h2>
        </div>

        <div class="container-product">
            <div class="card-product">
                <div class="img-card">
                    <img src="/static/img/img-product/Product 1.jpg">
                </div>
                <div class="text-card">
                    <p>Ground Coffee</p>
                    <div class="price-card">
                        <p>Rp 90.000,00</p>
                    </div>
                </div>
            </div>

            <div class="card-product">
                <div class="img-card">
                    <img src="/static/img/img-product/Product 2.jpg">
                </div>
                <div class="text-card">
                    <p>Ground Coffee</p>
                    <div class="price-card">
                        <p>Rp 140.000,00</p>
                    </div>
                </div>
            </div>

            <div class="card-product">
                <div class="img-card">
                    <img src="/static/img/img-product/Product 3.jpg" alt="">
                </div>

                <div class="text-card">
                    <p>Dark Roast</p>
                    <div class="price-card">
                        <p>Rp 100.000,00</p>
                    </div>
                </div>
            </div>

            <div class="card-product">
                <div class="img-card">
                    <img src="/static/img/img-product/Product 4.jpg" alt="">
                </div>

                <div class="text-card">
                    <p>Cold Brew Bottle</p>
                    <div class="price-card">
                        <p>Rp 90.000,00</p>
                    </div>
                </div>
            </div>

            <div class="card-product">
                <div class="img-card">
                    <img src="" alt="">
                </div>

                <div class="text-card">
                    <p>Drip Coffee Pack</p>
                    <div class="price-card">
                        <p>Rp 150.000,00</p>
                    </div>
                </div>
            </div>

            <div class="card-product">
                <div class="img-card">
                    <img src="" alt="">
                </div>
                <div class="text-card">
                    <p>Coffee Biscuit</p>
                    <div class="price-card">
                        <p>Rp 40.000,00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>