<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/css/style.css?v=2">
</head>
<body class="container-login">
    <div class="content-login">
        <div class="logo-shop">
            <img src="/static/img/logo v2.png" alt="">
        </div>

        <div class="form-login">
            <form>
                <div class="header-login">
                    <h3>Sign In</h3>
                    <p>Please enter your email and password to continue</p>
                </div>

                <div class="main-login">
                    <input type="input" placeholder="email">
                    <input type="password" placeholder="password">
                    <button type="submit">Sign in</button>
                </div>
            </form>
        </div>

        <div class="signup-text">
            <P>Dont Have an Account? <span> Sign up</span></P>
        </div>
    </div>
</body>
</html>