<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="navbar-container">

        <div class="icon-burger-menu" id="icon-burger-menu">
            <span class="iconamoon--menu-burger-horizontal-bold"></span>
        </div>

        <div class="title-brand">
            <img src="/static/img/logo v2.png" alt="">
        </div>

        <div class="nav-content">
            <div class="nav">Shop</div>
            <div class="nav"> About KopiKita</div>
            <div class="nav">Find The Location</div>
        </div>
    </div>

    <div class="header-shop">
        <div class="container-header">
            <div class="left-header-shop">
                <div class="content-header-shop">
                    <h1>All Product</h1>
                    <p>Jelajahi seluruh koleksi KopiKita untuk pengalaman kopi yang lengkap dan premium.</p>
                </div>
            </div>

            <div class="right-header-shop">
                <img src="/static/img/all-product-2.jpg" alt="">
            </div>
        </div>

        <div class="nav-shop">
            <div class="content-nav-shop active" id="button-nav-shop">
                <p>all Product</p>
            </div>

            <div class="content-nav-shop" id="button-nav-shop">
                <p>Ground Coffe</p>
            </div>

            <div class="content-nav-shop" id="button-nav-shop">
                <p>Cold Brew</p>
            </div>

            <div class="content-nav-shop" id="button-nav-shop">
                <p>Drip Coffe Pack</p>
            </div>
        </div>
    </div>

    <script src="/static/js/shoppage.js"></script>
</body>
</html>