*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #F4F4F5;
    font-size: 16px;
}

a{
    text-decoration: none;
    color: inherit;
}

.navbar-container{
    position: sticky;
    top: 0;
    z-index: 1000;
    border: 1px solid #E5E5E5;
    display: flex;
    justify-content: space-around;
    padding: 14px 0px;
    background-color: white;

}

.title-brand img{
    width: 150px;
    height: auto;
}


.nav-content{
    display: flex;
    align-items: center;
    gap: 40px;
    font-weight: 400;
}

.nav{
    border-bottom: 3px solid transparent;
    cursor: pointer;
}

.nav p{
    color: #3B2F2F;
    font-weight: 600;
    font-size: 17px;
}

.nav:hover{
    border-bottom: 3px solid #3B2F2F;
}

.section-start{
    width: 100%;
    aspect-ratio: 16 / 6; /* mirip hero banner */
    overflow: hidden;
    position: relative; /* penting! */
}

.section-start img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text{
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(-50%);
    max-width: 500px;
    z-index: 2;
}

.head-hero{
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #666;
    margin-bottom: 10px;
    font-weight: 500;
}

.hero-text h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
    color: #111;
}

/* deskripsi */
.hero-text p{
    font-size: 18px;
    line-height: 1.6;
    color: #444;
}

.section-product{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.head-product{
    border: 1px solid #E5E5E5;
    font-size: 32px;
    font-weight: 600;
    color: #3B2F2F;
    width: 100%;
    text-align: center;
    padding: 20px 0px;
}

.container-product{
    width: 100%;
    height: auto;
    padding: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    background-color: #F5F1EC;
}


.label{
    font-size: 12px;
    letter-spacing: 2px;
    color: #8A8A8A;
}



.head-product h2{
    font-size: 24px;
    color: #3B2F2F;
}

.head-product::after{
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background: #3B2F2F;
    margin: 10px auto 0;
}

.head-product{
    padding: 30px 0 10px;
}

.card-product{
    width: 260px;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #E5E5E5;
    background-color: white;
    border-radius: 10px;
}

.card-product:hover{
    border: 1px solid #4d3838;
}

.img-card img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.img-card{
    flex: 7;
    display: flex;
}

.text-card span{
    color: #2B1F1F;
}

.text-card{
    flex: 3;
    font-weight: 700;
    padding: 10px 10px;
    flex-grow: 1;
}

.price-card{
    font-weight: 600;
    color: #3B2F2F;

}

.review-card{
    display: flex;
    align-items: center;
    gap: 6px;
    color: #7A6A5F;
    font-size: 12px;
    font-weight: 400;
}

.review-count{
    display: flex;
    align-items: center;
}

.icon-star{
    display: flex;
    align-items: center;
    gap: 3px;
}

.buy-count{
    display: flex;
    align-items: center;
    width: 100%;
    text-overflow: ellipsis;
    
}

.buy-count p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
}

.button-addcart{
    padding: 10px 10px;
    display: flex;

}

.button-addcart button{
    all: unset;
    width: 100%;
    height: auto;
    background-color: #3B2F2F;
    padding: 10px;
    text-align: center;
    color: white;
    border: 1px solid transparent;
    border-radius: 12px;
}

.button-addcart button:hover{
    border: 1px solid #3B2F2F;
    background-color: #524848;
    cursor: pointer;
}

.section-About{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    justify-content: center;
}

.img-about{
    width: 34%;
    height: auto;
}

.img-about img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.content-about{
    width: 34%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 20px;
}

.text-about{
    border-bottom: 1px solid #3B2F2F;
    display: flex;
    flex-direction: column;
    
}

.header-about{
    display: flex;
    justify-content: space-between;
    padding: 18px 0px;
    align-items: center;
}

.header-about p{
    font-size: 24px;
    font-weight: 500;
}

.overlay-about{
    padding: 10px 20px ;
    text-align: justify;
    font-size: 15px;
    display: none;
}


.background-icon{
    background-color: #EFE7DD;
    border-radius: 100%;
    display: flex;
    height: 32px;
    width: 32px;
    justify-content: center;
    align-items: center;
}

.overlay{
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.overlay.active{
    opacity: 1;
    visibility: visible;
}

.section-review{
    border: 1px solid #E5E5E5;
    height: auto;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #F5F1EC;
    
}

.header-review{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 6px;
    height: auto;
    align-items: center;
    
}

.star-review{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    gap: 4px;
}

.star-review p {
    font-size: 20px;
    font-weight: 500;
}

.header-review h3 {
    font-size: 30px;
    font-weight: 500;
}

.container-cardreview{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.card-review{
    border: 1px solid #E5E5E5;
    box-shadow: 0 4px 20px rgba(0,0,0,0.05);
    border-radius: 8px;
    background-color: white;
    width: 260px;
    height: 240px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.profil-container{
    display: flex;
    gap: 10px;
    justify-content: center;

}

.img-review img{
    width:  60px;
    height: 60px;
    border-radius: 100%;
}

.header-profil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    width: 140px;
}

.name-profil p{
    font-weight: 600;
    font-size: 15px;
}

.star-content{
    display: flex;
    justify-content: left;
}


.review-content{
    width: 100%;
    text-align: justify;
}

.section-footer{
    background-color: #111;
    display: flex;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: white;
    padding: 30px 0px;
}

.container-collab{
    width: 40%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    gap: 20px;

}

.header-collab{
    text-align: center;
    width: 80%;
}

.header-collab h3{
    font-size: 30px;
}

.header-collab p{
    color: #A3ABAE;
}

.form-collab{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    gap: 10px;
    width: 50%;
}

.form-collab input{
    all: unset;
    border: 1px solid white;
    background-color: white;
    border-radius: 8px;
    width: 100%;
    padding-left: 6px ;
    padding-bottom: 6px;
    padding-top: 6px;
    color: black;
}

.form-collab button{
    all: unset;
    width: 100%;
    text-align: center;
    padding: 4px 6px;
    color: #fff;
    border-radius: 8px;
    background-color: #6B4F4F;
}

.main-footer{
    height: 80%;
}

.content-footer{
    border-bottom: 1px solid white;
    padding: 16px 0px;
}

.Container-footer{

    width: 40%;
    height: 100%;

}

.header-footer{

    display: flex;
    justify-content: space-evenly;
}

.header-content-footer{
    display: flex;
    justify-content: space-between;
}

.header-content-footer p{
    font-size: 20px;
}

.overlay-content-footer{
    padding-left: 20px;
    display: none;
    color: #A3ABAE;
}

.overlay-content-footer p:hover{
    color: white;
    cursor: pointer;
}

.icon-burger-menu{
    display: none;
}


/**Untuk shoppage.html**/
.header-shop{
    border: 1px solid #E5E5E5;
    display: flex;
    background-color: #F5F1EC;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.container-header{
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #E5E5E5;
    padding: 10px 30px;
    border-radius: 8px;
    background-color: white;
    flex-wrap: wrap;
}

.left-header-shop{
    display: flex;
    align-items: center;
}

.left-header-shop h1{
    font-size: 60px;
}

.right-header-shop img{
    width: 600px;
    height: auto;
    border-radius: 8px;
}

.nav-shop{
    display: flex;
    gap: 10px;
    padding: 10px 0px;
    width: 80%;
}

.content-nav-shop{
    border: 1px solid #8A8A8A;
    padding: 10px 40px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.content-nav-shop p {
    font-size: 15px;
    font-weight: 600;
}

.active {
    background-color: #3B2F2F;
    color: white;
}

.section-product-page{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-product-page{
    width: 80%;
    height: auto;
    padding: 20px 0px;
}

.grid-product{
    display: none;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.open{
    display: grid;
}

.card-product-page{
    padding: 20px;
    border: 1px solid #8A8A8A;
    border-radius: 8px; ;
}

.card-product-page:hover{
    background-color: #D8CFC4;
    border: 1px solid #B7A79A;
}

.container-taste{
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 10px;
}

.color-taste{
    display: flex;
    gap: 10px;
}

.main-color{
    width: 24px;
    height: 24px;
    border-radius: 100%;
    cursor: pointer;

}

.content-taste p {
    color: #5A4A42;
    font-weight: 600;
}

.text-taste{
    display: none;
}

.img-card{
    width: 100%;
    overflow: hidden; /* 🔥 penting */
    position: relative; /* buat layering gambar */
    aspect-ratio: 1 / 1

}

.img-product{
    width: 100%;
    height: 100%;
    display: none;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.card-product-page:hover .img-product{
    transform: scale(1.1);
}

.show{
    display: block;
}

.card-product-page button {
    border: none;
    outline: none;
    text-align: center;
    background-color: #3B2F2F;
    border-radius: 10px;
    padding: 10px 0px;
    color: white;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
}

.btn-add-cart:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    opacity: 0.7;
}

.btn-add-cart:disabled:hover {
    background-color: #ccc; /* biar ga berubah saat hover */
}
   
.overlay-cart{
    position: fixed;
    top: 0px;
    padding: 20px 20px;
    z-index: 1001;
    background-color: rgba(0,0,0,0.55);
    width: 100%;
    height: 100%;
    display: none;
    justify-content: flex-end;
}

.container-cart{
    background-color: #F3F4F6;
    width: 24%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    padding: 10px 0px;
}


.header-cart{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    width: 100%;
    border-bottom: 1px solid #8A8A8A;
}

.header-cart p{
    font-weight: 550;
    font-size: 20px;
}

.content-cart{

    height: 100%;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;

}

.header-detail-cart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.btn-remove button{
    border: none;
    background-color: inherit;
    cursor: pointer;
    z-index: 999;
    position: relative;
}

.product-cart-container{
    border: 1px solid #8A8A8A ;
    border-radius: 4px;
    padding-left: 4px;
    background-color: #FAFAFA;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10px;
}

.img-cart-product{
    width: 30%;
    height: auto;
}

.img-cart-product img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 6px;
    
}

.detail-cart-product{
    padding: 0px 10px;

    width: 100%;
    display: flex;
    gap: 4px;
    justify-content: center;
    flex-direction: column;
}

.bottom-detail-cart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.box-qty{
    border: 1px solid #F1ECE7;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: stretch; /* ini kunci */

}

.number-qty{
    border-left: 1px solid #F1ECE7;
    border-right: 1px solid #F1ECE7;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 8px;
    color: #5B5B5B;
}


.qty-icon{
    padding: 4px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price-cart{
    font-size: 16px;
    font-weight: 600;
}

.content-checkout{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid #666;
    padding: 20px 0px;
    gap: 10px;
}

.container-price-cart{

    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

.number-price-cart{
    font-size: 20px;
    font-weight: 600;
}


.content-checkout form{
    width: 100%;
}

.content-checkout button {
    all: unset;
    width: 80%;
    border: none;
    text-align: center;
    padding: 10px 0;
    background-color: #3B2F2F;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.content-checkout button:hover {
    background-color: #5A4545;
}

.content-checkout button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    opacity: 0.7;
    border: 1px solid #aaa;
}

.cart-login-message {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;

    padding: 20px;

    background-color: #f5f5f5;
    border-radius: 10px;

    text-align: center;
}

.cart-login-message p {
    font-size: 20px;
    font-weight: 500px;
    color: #555;
}

.btn-login-cart {
    text-decoration: none;
    background-color: #3B2F2F;
    color: white;

    padding: 8px 25px;
    border-radius: 8px;

    font-size: 14px;
    font-weight: 500;

    transition: 0.3s;
}

.btn-login-cart:hover {
    background-color: #2a2121;
}

.cart-empty-message{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-empty-message p{
    font-size: 20px;
    font-weight: 500;
    color: #555;
}


/* Untuk Login Page*/
.container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F5F1EC ;
}

.content-login{
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    padding: 20px 30px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.logo-shop img{
    width: 140px;
    height: auto;
}

.main-login{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-login{
    width: 100%;
}

.header-login{
    margin-bottom: 15px;
    display: flex;
    gap: 4px;
    flex-direction: column;
}

.header-login p {
    color: #666;
    font-size: 15px;
}

.main-login input{
    width: 100%;
    padding: 12px 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    transition: 0.2s;
}

.main-login input:focus{
    border-color: #8B5E3C; /* warna kopi */
    box-shadow: 0 0 0 2px rgba(139,94,60,0.2);
}

.main-login input::placeholder{
    color: #aaa;
}

.main-login button{
    width: 100%;
    padding: 12px;
    background-color: #8B5E3C; /* warna kopi */
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s;
    font-weight: 600;
    font-size: 16px;
}


.main-login button:hover{
    background-color: #6f472c;
}

.main-login button:active{
    transform: scale(0.98);
}

.signup-text span{
    color: #8B5E3C;
    cursor: pointer;
    font-weight: 600;
}

.error-message{
    color: #d8000c;
    background-color: #ffe5e5;
    padding: 10px;
    border-radius: 6px;
    font-size: 13px;
    margin-bottom: 15px;
}

.overlay-navbar{
    display: none;
}



/*style for accountpage*/
.section-accountpage{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-accountpage{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
}

.content-accountpage{
    width: 80%;
}

.main-accountpage.history{
    height: 500px;

}


.title-accountpage p{
    font-size: 30px;
    font-weight: 500;
}

.main-accountpage{
    border: 1px solid #E5E5E5;
    background-color: white;
    display: flex;
    border-radius: 10px;
    margin-top: 20px;
    flex-direction: column;
    padding: 20px 30px;
    gap: 10px;
}

.account-item{
    display: flex;
    flex-direction: column;


}

.account-value{
    display: flex;
    justify-content: space-between;
}

.logout-button{
    margin-top: 10px;
}

.logout-button button{
    all:unset;
    border-radius: 10px;
    background-color: #EF4444;
    color: white;
    font-weight: 500;
    text-align: center;
    padding: 6px 0px;
    width: 100%;
}

.icon-cart{
    display: none;
}

/*for styling form_checkout*/

.navbar-checkout{
    border: 1px solid #E5E5E5;
    background-color: white;
    padding: 14px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-checkout{
  display: flex;
  align-items: stretch;
  height: 91vh;
}

.content-form-checkout{
  flex: 1;
  padding-top: 40px;
}

.content-form-checkout.left{
  background-color: white;
  border-right: 1px solid #E5E5E5;

  display: flex;
  flex-direction: column;

  align-items: flex-end;
  padding-right: 30px;
  gap: 10px;

  height: auto;
}

.content-form-checkout.right{
  background-color: #F6F5F1;
  border-left: 1px solid #E5E5E5;

  display: flex;
  flex-direction: column;

  padding-left: 30px;
  gap: 10px;

}

.container-product-checkout{
    width: 50%;
    height: auto;
    max-height: 40vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 10px;
}

.product-checkout-container{
    border-radius: 4px;
    padding-left: 4px;
    width: 90%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10px;
    z-index: 10;
    padding-top: 10px;
}

.box-qty-checkout{
    position: absolute;

    top: -8px;
    right: -1px;

    width: 24px;
    height: 24px;

    border-radius: 6px;
    background-color: black;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    font-weight: 600;

    z-index: 10;
}

.img-checkout-product{
    width: 30%;
    height: auto;

    position: relative;
}

.img-checkout-product img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.header-detail-checkout{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.input-discount-code{
    width: 50%;
}

.input-discount-code input{
    width: 80%;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
}

.input-discount-code input:focus{
    border-color: #8B5E3C; /* warna kopi */
    box-shadow: 0 0 0 2px rgba(139,94,60,0.2);
}

.input-discount-code button{
    padding: 10px 20px;
    background-color: #8B5E3C;
    border: none;
    color: white;
    font-weight: 500;
    border-radius: 4px;
    /**background-color: #6f472c;**/
}

.input-discount-code button:hover{
    background-color: #6f472c;
}

.text-for-code p{
    font-size: 14px;
    color: #828282;
}

.Total-price-checkout{
    width: 50%;
}

.content-price-allitem, 
.content-price-shiping{
    display: flex;
    justify-content: space-between;
}

.button-another-payment {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    box-sizing: border-box;
    padding: 6px;
}

.text-upper-payment p{
    font-size: 16px;
    color: #828282;
    margin: 0;
}

.button-payment{
    width: 100%;

    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}

.qris-button{
    background: #ffffff;
    color: #111111;
    border: 1px solid #dcdcdc;
    width: 100%;
    height: 48px;
    flex: 1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qris-button img{
    object-fit: cover;
    width: 40%;
    height: 60%;
}

.dana-button{
    background: #ffffff;
    color: #111111;
    width: 100%;
    border: 1px solid #dcdcdc;
    height: 48px;
    flex: 1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dana-button img{
    object-fit: contain;
    width: 50%;
    height: auto;
    display: block;
}

.line-or{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.line{
    border: 1px solid #828282;
    width: 100%;
}

.text-or p{
    color: #828282;
}

.form-checkout{
    width: 50%;
}

.form-checkout form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.email-checkout{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.email-checkout input{
    all: unset;
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
}

.email-checkout input:focus{
    border-color: #8B5E3C; /* warna kopi */
    box-shadow: 0 0 0 2px rgba(139,94,60,0.2);
}

.form-checkout label{
    font-weight: 600 ;
    font-size: 25px;
}


.delivery-checkout{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#select-shipping{
    all: unset;
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
}

.delivery-checkout select:focus{
    border-color: #8B5E3C; /* warna kopi */
    box-shadow: 0 0 0 2px rgba(139,94,60,0.2);
}

.input-username-checkout{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.input-username-checkout input{
    all: unset;
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
}

.input-address-checkout input{
    all: unset;

    width: 100%;
    box-sizing: border-box;
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
}

.input-number-checkout input{
    all: unset;

    width: 100%;
    box-sizing: border-box;

    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
}

.form-payment{
    width: 50%;
}

.form-payment label{
    font-weight: 600 ;
    font-size: 25px;
}

.sub-label-form{
    font-size: 15px;
    color: #5B5B5B;
}

.container-payment{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
}

.main-payment{
    border: 1px solid #d9d9d9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

.main-payment.top{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.main-payment.bottom{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.text-payment{
    display: flex;
    gap: 10px;
}

.text-payment{
    font-weight: 600;
    font-size: 17px;
}

.img-payment{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-payment img{
    object-fit: contain;
    width: 70px;
    height: auto;
    display: block;
}

.main-payment input[type="radio"]{
    accent-color: #5A4545;
}

.main-payment:has(input[type="radio"]:checked) {
    border: 2px solid #5A4545;
    background-color: #F6F1EB;
}

.text-bottom-left{
    width: 50%;
}

.text-bottom-left h6{
    font-size: 15px;
    font-weight: 500;
}

.text-bottom-left p{
    font-size: 12px;
    color: #5B5B5B;
}

.button-order{

    width: 50%;
}

.button-order button{
    all: unset;
    border: none;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    border-radius: 10px;
    background-color: #8B5E3C;
    color: white;
    font-weight: 500;
}

.button-order button:hover{
    background-color: #6f472c;
    cursor: pointer;
}

/*Payment Page*/

.container-payment-page{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-payment h3{
    font-size: 35px;
    font-weight: 600;
}

.icon-timer,
.text-timer,
.countdown-payment{
    display: flex;
}

.timer-payment{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: #EFE7DF;
}

.payment-content{
    width: 60%;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

}

.payment-left,
.payment-right{
    width: 40%;
}

.payment-card.va-card{
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    background-color: white;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.header-payment-card{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}



.hero-text-payment h6{
    font-size: 20px;
}

.hero-text-payment p{
    color: #5B5B5B;
    font-size: 12px;
}

.img-header-payment img{
    object-fit: contain;
    width: 70px;
    height: auto;
    display: block;
}

.img-header-payment{
    display: flex;
}

.info-va-card{
    background-color: #EFE7DF;
    padding: 20px 20px;
    border-radius: 10px;
}

.header-info-va p{
    color: #5B5B5B;
    font-size: 12px;
}

.text-info-va{
    font-size: 24px;
}

.main-info-va{
    display: flex;
    justify-content: space-between;
}

.icon-copy{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.line-payment-card{
    background-color: #EFE7DF;
    width: 100%;
    height: 3px;
}

.total-price-payment p{
    font-size: 12px;
}

.total-price-payment h4{
    font-size: 24px;
    font-weight: 600;
}

.payment-card.instruction-card{
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    background-color: white;
    padding: 20px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.header-instruction-card{
    border-bottom: 3px solid #EFE7DF;
    padding: 0px 20px 20px 20px;
}

.payment-method{
    border-bottom: 3px solid #EFE7DF;
    padding: 5px 20px 5px 20px;
}

.payment-method.last-method{
    border: none;
}

.header-payment-method{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}


.left-payment-with-atm{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.right-payment-with-atm{
    display: flex;
}

.icon-atm{
    display: flex;
}

.text-instruction{
    padding-left: 20px;
    font-size: 15px;
    font-weight: 400;
    display: none;
}

.payment-card.status-card{
    background-color: #2D2926;
    border-radius: 10px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}


.header-status-card p{
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.text-status-card p{
    font-size: 14px;
    color: #B0AEAD;
}

.button-status-card{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.button-status-card button{
    all: unset;

    padding: 12px 18px;
    border-radius: 8px;

    font-size: 14px;
    font-weight: 500;

    cursor: pointer;
    text-align: center;
}

.button-status-card .alrd-buy{
    background-color: white;
    color: black;
}

.button-status-card .check-status{
    background-color: transparent;
    color: white;
    border: 1px solid #4E4A46;
}

.payment-card.help-card{
    background-color: #EFE7DF;
    border-radius: 10px;
    padding: 20px 20px;
}


@media(max-width:600px){

    *{
        box-sizing: border-box;
    }
    
    .nav-content{
        display: none;
    }

    .navbar-container{
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 10px 30px;
    }

    .section-start{
        width: 100%;
        flex-direction: column;
        height: auto;
    }

    .hero-text{
        position: absolute;
        left: 15px;
        bottom: 20px;
        right: 40%; /* ini kunci 🔥 */
    }

    .head-hero{
        font-size: 10px;
    }

    .hero-text h2{
        font-size: 18px;
        margin: 0 0 5px 0;
        padding-right: 30px;
        line-height: 1.2;
    }

    .hero-text p{
        font-size: 8px;
        margin: 0;
        line-height: 1.4;
    }

    .container-product{
        display: flex;
        width: 100%;
        align-items: center;
    }

    .card-product{
        width: 40%;
        height: auto;
    }

    .buy-count{
        min-width: 0; /* ini penting di flex */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .section-About{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img-about{
        width: 90%;
        height: auto;
    }

    .content-about{
        width: 90%;
    }

    .review-wrapper{
        width: 300px; /* sesuaikan sama card */
        height: auto;
        overflow-y: hidden;
        margin: auto;
        
    }   

    .header-review{
        text-align: center;
    }

    .header-review h3{
        font-size: 24px;
    }

    .container-cardreview{
        width: 100%;
        max-width: 320px; /* atau sesuai design */
        display: flex;
        justify-content: left;
        gap: 10px;

    }

    .card-review{
        min-width: 90%;
    }

    .profil-container{
        justify-content: left;
    }

    .Container-footer{
        width: 80%;
        display: flex;
        flex-direction: column;
    }


    .container-collab{
        width: 80%;

    }

    .header-collab{
        width: 100%;
    }

    .form-collab{
        width: 100%;
    }

    .icon-burger-menu{
        display: flex;
    }

    .icon-cart{
        display: flex;
    }
    
    .container-cart{
        width: 95%;
    }
    
    .product-cart-container{
        padding: 10px 5px;
    }

    .overlay-navbar{
        display: none;
        position: fixed;
        top: 73px;
        left: 0px;
        z-index: 999;
        background-color: rgba(0,0,0,0.55);
        width: 100%;
        height: 100%;
    }


    .container-overlay{
        background-color: #F3F4F6;
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px 10px;
    }

    .Content-nav{
        display: flex;
        flex-direction: column;
        background-color: white;
        height: auto;
        padding: 10px 10px;
        border-radius: 6px;
    }

    .title-nav{
        text-align: center;
    }

    .title-nav{
        margin-bottom: 10px;
    }

    .box-nav{
        width: 100%;
        padding-left: 20px;
    }
    

    /*Shoppage.html*/


    .header-shop{
        width: 100%;

    }

    .container-header{
        width: 100%;
        min-width: 100%;
        display: flex;
        gap: 10px;
    }

    .content-header-shop h1{
        font-size: 35px;
    }

    .right-header-shop{
        width: 100%;
    }

    .right-header-shop img{
        width: 100%;
        height: auto;
        
    } 

    .nav-shop{
        width: 100%;
        padding: 10px 10px;
        overflow-y: hidden;
    }

    .content-nav-shop{
        width: auto;
        padding: 8px 20px;
        white-space: nowrap;
    }

    .content-nav-shop p{
        font-size: 12px;
    }

    .section-product-page{
        width: 100%;
    }

    .container-product-page{
        width: 100%;

    }



    .grid-product{
        padding-left: 14px;
        display: none;
        grid-template-columns: repeat(2, 1fr);
        gap: 1px;
        row-gap: 10px;
    }

    .open{
        display: grid;
    }

    .card-product-page{
        padding: 10px 10px;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    /*profil page*/
    .section-accountpage{
        height: 100%;
        width: 100%;
    }

    .container-accountpage{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /*login page.html*/
    .content-login{

        width: 84%;
        padding: 20px 20px;
    }
}

.ic--round-star {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23ffc400' d='m12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72l3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41l-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18l-1.1 4.72c-.2.86.73 1.54 1.49 1.08z'/%3E%3C/svg%3E");
}

.mingcute--right-fill {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%233B2F2F' d='M16.06 10.94a1.5 1.5 0 0 1 0 2.12l-5.656 5.658a1.5 1.5 0 1 1-2.121-2.122L12.879 12L8.283 7.404a1.5 1.5 0 0 1 2.12-2.122l5.658 5.657Z'/%3E%3C/g%3E%3C/svg%3E");
}

.ic--round-star1 {
  display: inline-block;
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23ffc400' d='m12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72l3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41l-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18l-1.1 4.72c-.2.86.73 1.54 1.49 1.08z'/%3E%3C/svg%3E");
}

.ic--round-star2 {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23ffc400' d='m12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72l3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41l-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18l-1.1 4.72c-.2.86.73 1.54 1.49 1.08z'/%3E%3C/svg%3E");
}

.mdi--instagram {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3'/%3E%3C/svg%3E");
}

.ic--baseline-facebook {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95'/%3E%3C/svg%3E");
}

.ic--baseline-tiktok {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M16.6 5.82s.51.5 0 0A4.28 4.28 0 0 1 15.54 3h-3.09v12.4a2.59 2.59 0 0 1-2.59 2.5c-1.42 0-2.6-1.16-2.6-2.6c0-1.72 1.66-3.01 3.37-2.48V9.66c-3.45-.46-6.47 2.22-6.47 5.64c0 3.33 2.76 5.7 5.69 5.7c3.14 0 5.69-2.55 5.69-5.7V9.01a7.35 7.35 0 0 0 4.3 1.38V7.3s-1.88.09-3.24-1.48'/%3E%3C/svg%3E");
}

.mingcute--right-fill1{
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23fff' d='M16.06 10.94a1.5 1.5 0 0 1 0 2.12l-5.656 5.658a1.5 1.5 0 1 1-2.121-2.122L12.879 12L8.283 7.404a1.5 1.5 0 0 1 2.12-2.122l5.658 5.657Z'/%3E%3C/g%3E%3C/svg%3E");
}

.iconamoon--menu-burger-horizontal-bold {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5' d='M3 6h18M3 12h18M3 18h18'/%3E%3C/svg%3E");
}

.ic--outline-shopping-cart {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M15.55 13c.75 0 1.41-.41 1.75-1.03l3.58-6.49A.996.996 0 0 0 20.01 4H5.21l-.94-2H1v2h2l3.6 7.59l-1.35 2.44C4.52 15.37 5.48 17 7 17h12v-2H7l1.1-2zM6.16 6h12.15l-2.76 5H8.53zM7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2s-.9-2-2-2m10 0c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2s2-.9 2-2s-.9-2-2-2'/%3E%3C/svg%3E");
}

.ic--round-plus {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%235B5B5B' d='M18 12.998h-5v5a1 1 0 0 1-2 0v-5H6a1 1 0 0 1 0-2h5v-5a1 1 0 0 1 2 0v5h5a1 1 0 0 1 0 2'/%3E%3C/svg%3E");
}

.ic--round-minus {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%235B5B5B' d='M18 12.998H6a1 1 0 0 1 0-2h12a1 1 0 0 1 0 2'/%3E%3C/svg%3E");
}

.ic--round-close {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%237B7B7B' d='M18.3 5.71a.996.996 0 0 0-1.41 0L12 10.59L7.11 5.7A.996.996 0 1 0 5.7 7.11L10.59 12L5.7 16.89a.996.996 0 1 0 1.41 1.41L12 13.41l4.89 4.89a.996.996 0 1 0 1.41-1.41L13.41 12l4.89-4.89c.38-.38.38-1.02 0-1.4'/%3E%3C/svg%3E");
}

.mdi--cart-outline {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M17 18a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2c0-1.11.89-2 2-2M1 2h3.27l.94 2H20a1 1 0 0 1 1 1c0 .17-.05.34-.12.5l-3.58 6.47c-.34.61-1 1.03-1.75 1.03H8.1l-.9 1.63l-.03.12a.25.25 0 0 0 .25.25H19v2H7a2 2 0 0 1-2-2c0-.35.09-.68.24-.96l1.36-2.45L3 4H1zm6 16a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2c0-1.11.89-2 2-2m9-7l2.78-5H6.14l2.36 5z'/%3E%3C/svg%3E");
}

.line-md--arrow-left {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%237B7B7B' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath stroke-dasharray='20' d='M21 12h-17.5'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='0.3s' values='20;0'/%3E%3C/path%3E%3Cpath stroke-dasharray='12' stroke-dashoffset='12' d='M3 12l7 7M3 12l7 -7'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='0.3s' dur='0.2s' to='0'/%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.mingcute--time-line {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath d='m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='black' d='M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2m0 2a8 8 0 1 0 0 16a8 8 0 0 0 0-16m0 2a1 1 0 0 1 .993.883L13 7v4.586l2.707 2.707a1 1 0 0 1-1.32 1.497l-.094-.083l-3-3a1 1 0 0 1-.284-.576L11 12V7a1 1 0 0 1 1-1'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}


.tabler--copy {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M7 9.667A2.667 2.667 0 0 1 9.667 7h8.666A2.667 2.667 0 0 1 21 9.667v8.666A2.667 2.667 0 0 1 18.333 21H9.667A2.667 2.667 0 0 1 7 18.333z'/%3E%3Cpath d='M4.012 16.737A2 2 0 0 1 3 15V5c0-1.1.9-2 2-2h10c.75 0 1.158.385 1.5 1'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ic--round-atm {
  display: inline-block;
  width: 30px;
  height: 30px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M8 9.75c0 .41.34.75.75.75h1.5v3.75c0 .41.34.75.75.75s.75-.34.75-.75V10.5h1.5c.41 0 .75-.34.75-.75S13.66 9 13.25 9h-4.5c-.41 0-.75.34-.75.75M6 9H3c-.55 0-1 .45-1 1v4.25c0 .41.34.75.75.75s.75-.34.75-.75v-.75h2v.75c0 .41.34.75.75.75s.75-.34.75-.75V10c0-.55-.45-1-1-1m-.5 3h-2v-1.5h2zM21 9h-4.5c-.55 0-1 .45-1 1v4.25c0 .41.34.75.75.75s.75-.34.75-.75V10.5h1v2.75c0 .41.34.75.75.75s.75-.34.75-.75v-2.76h1v3.76c0 .41.34.75.75.75s.75-.34.75-.75V10c0-.55-.45-1-1-1'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.mingcute--right-line {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='black' d='M15.707 11.293a1 1 0 0 1 0 1.414l-5.657 5.657a1 1 0 1 1-1.414-1.414l4.95-4.95l-4.95-4.95a1 1 0 0 1 1.414-1.414z'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.gridicons--phone {
  display: inline-block;
  width: 20px;
  height: 20px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M16 2H8a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2m-3 19h-2v-1h2zm3-2H8V5h8z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ic--baseline-laptop {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M20 18c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2H0v2h24v-2zM4 6h16v10H4z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.material-symbols--help-outline {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M12.838 17.638q.362-.363.362-.888t-.362-.888t-.888-.362t-.887.363t-.363.887t.363.888t.887.362t.888-.363M11.05 14.15h1.85q0-.825.188-1.3t1.062-1.3q.65-.65 1.025-1.238T15.55 8.9q0-1.4-1.025-2.15T12.1 6q-1.425 0-2.312.75T8.55 8.55l1.65.65q.125-.45.563-.975T12.1 7.7q.8 0 1.2.438t.4.962q0 .5-.3.938t-.75.812q-1.1.975-1.35 1.475t-.25 1.825M12 22q-2.075 0-3.9-.787t-3.175-2.138T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m0-8'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}








