*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #F4F4F5;
    font-size: 16px;
}

a{
    text-decoration: none;
    color: inherit;
}

.navbar-container{
    position: sticky;
    top: 0;
    z-index: 1000;
    border: 1px solid #E5E5E5;
    display: flex;
    justify-content: space-around;
    padding: 14px 0px;
    background-color: white;

}

.title-brand img{
    width: 150px;
    height: auto;
}


.nav-content{
    display: flex;
    align-items: center;
    gap: 40px;
    font-weight: 400;
}

.nav{
    border-bottom: 3px solid transparent;
    cursor: pointer;
}

.nav p{
    color: #3B2F2F;
    font-weight: 600;
    font-size: 17px;
}

.nav:hover{
    border-bottom: 3px solid #3B2F2F;
}

.section-start{
    width: 100%;
    aspect-ratio: 16 / 6; /* mirip hero banner */
    overflow: hidden;
    position: relative; /* penting! */
}

.section-start img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text{
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(-50%);
    max-width: 500px;
    z-index: 2;
}

.head-hero{
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #666;
    margin-bottom: 10px;
    font-weight: 500;
}

.hero-text h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
    color: #111;
}

/* deskripsi */
.hero-text p{
    font-size: 18px;
    line-height: 1.6;
    color: #444;
}

.section-product{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.head-product{
    border: 1px solid #E5E5E5;
    font-size: 32px;
    font-weight: 600;
    color: #3B2F2F;
    width: 100%;
    text-align: center;
    padding: 20px 0px;
}

.container-product{
    width: 100%;
    height: auto;
    padding: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    background-color: #F5F1EC;
}


.label{
    font-size: 12px;
    letter-spacing: 2px;
    color: #8A8A8A;
}



.head-product h2{
    font-size: 24px;
    color: #3B2F2F;
}

.head-product::after{
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background: #3B2F2F;
    margin: 10px auto 0;
}

.head-product{
    padding: 30px 0 10px;
}

.card-product{
    width: 260px;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #E5E5E5;
    background-color: white;
    border-radius: 10px;
}

.card-product:hover{
    border: 1px solid #4d3838;
}

.img-card img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.img-card{
    flex: 7;
    display: flex;
}

.text-card span{
    color: #2B1F1F;
}

.text-card{
    flex: 3;
    font-weight: 700;
    padding: 10px 0px;
    flex-grow: 1;
}

.price-card{
    font-weight: 600;
    color: #3B2F2F;

}

.review-card{
    display: flex;
    align-items: center;
    gap: 6px;
    color: #7A6A5F;
    font-size: 12px;
    font-weight: 400;
}

.review-count{
    display: flex;
    align-items: center;
}

.icon-star{
    display: flex;
    align-items: center;
    gap: 3px;
}

.buy-count{
    display: flex;
    align-items: center;
    width: 100%;
    text-overflow: ellipsis;
    
}

.buy-count p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
}

.button-addcart{
    padding: 10px 10px;
    display: flex;

}

.button-addcart button{
    all: unset;
    width: 100%;
    height: auto;
    background-color: #3B2F2F;
    padding: 10px;
    text-align: center;
    color: white;
    border: 1px solid transparent;
    border-radius: 12px;
}

.button-addcart button:hover{
    border: 1px solid #3B2F2F;
    background-color: #524848;
    cursor: pointer;
}

.section-About{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    justify-content: center;
}

.img-about{
    width: 34%;
    height: auto;
}

.img-about img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.content-about{
    width: 34%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 20px;
}

.text-about{
    border-bottom: 1px solid #3B2F2F;
    display: flex;
    flex-direction: column;
    
}

.header-about{
    display: flex;
    justify-content: space-between;
    padding: 18px 0px;
    align-items: center;
}

.header-about p{
    font-size: 24px;
    font-weight: 500;
}

.overlay-about{
    padding: 10px 20px ;
    text-align: justify;
    font-size: 15px;
    display: none;
}


.background-icon{
    background-color: #EFE7DD;
    border-radius: 100%;
    display: flex;
    height: 32px;
    width: 32px;
    justify-content: center;
    align-items: center;
}

.overlay{
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.overlay.active{
    opacity: 1;
    visibility: visible;
}

.section-review{
    border: 1px solid #E5E5E5;
    height: auto;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #F5F1EC;
    
}

.header-review{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 6px;
    height: auto;
    align-items: center;
    
}

.star-review{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    gap: 4px;
}

.star-review p {
    font-size: 20px;
    font-weight: 500;
}

.header-review h3 {
    font-size: 30px;
    font-weight: 500;
}

.container-cardreview{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.card-review{
    border: 1px solid #E5E5E5;
    box-shadow: 0 4px 20px rgba(0,0,0,0.05);
    border-radius: 8px;
    background-color: white;
    width: 260px;
    height: 240px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.profil-container{
    display: flex;
    gap: 10px;
    justify-content: center;

}

.img-review img{
    width:  60px;
    height: 60px;
    border-radius: 100%;
}

.header-profil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    width: 140px;
}

.name-profil p{
    font-weight: 600;
    font-size: 15px;
}

.star-content{
    display: flex;
    justify-content: left;
}


.review-content{
    width: 100%;
    text-align: justify;
}

.section-footer{
    background-color: #111;
    display: flex;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: white;
    padding: 30px 0px;
}

.container-collab{
    width: 40%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    gap: 20px;

}

.header-collab{
    text-align: center;
    width: 80%;
}

.header-collab h3{
    font-size: 30px;
}

.header-collab p{
    color: #A3ABAE;
}

.form-collab{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    gap: 10px;
    width: 50%;
}

.form-collab input{
    all: unset;
    border: 1px solid white;
    background-color: white;
    border-radius: 8px;
    width: 100%;
    padding-left: 6px ;
    padding-bottom: 6px;
    padding-top: 6px;
    color: black;
}

.form-collab button{
    all: unset;
    width: 100%;
    text-align: center;
    padding: 4px 6px;
    color: #fff;
    border-radius: 8px;
    background-color: #6B4F4F;
}

.main-footer{
    height: 80%;
}

.content-footer{
    border-bottom: 1px solid white;
    padding: 16px 0px;
}

.Container-footer{

    width: 40%;
    height: 100%;

}

.header-footer{

    display: flex;
    justify-content: space-evenly;
}

.header-content-footer{
    display: flex;
    justify-content: space-between;
}

.header-content-footer p{
    font-size: 20px;
}

.overlay-content-footer{
    padding-left: 20px;
    display: none;
    color: #A3ABAE;
}

.overlay-content-footer p:hover{
    color: white;
    cursor: pointer;
}

.icon-burger-menu{
    display: none;
}

/**Untuk shoppage.html**/
.header-shop{
    border: 1px solid #E5E5E5;
    display: flex;
    background-color: #F5F1EC;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.container-header{
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #E5E5E5;
    padding: 10px 30px;
    border-radius: 8px;
    background-color: white;
    flex-wrap: wrap;
}

.left-header-shop{
    display: flex;
    align-items: center;
}

.left-header-shop h1{
    font-size: 60px;
}

.right-header-shop img{
    width: 600px;
    height: auto;
    border-radius: 8px;
}

.nav-shop{
    display: flex;
    gap: 10px;
    padding: 10px 0px;
    width: 80%;
}

.content-nav-shop{
    border: 1px solid #8A8A8A;
    padding: 10px 40px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.content-nav-shop p {
    font-size: 15px;
    font-weight: 600;
}

.active {
    background-color: #3B2F2F;
    color: white;
}

.section-product-page{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-product-page{
    width: 80%;
    height: auto;
    padding: 20px 0px;
}

.grid-product{
    display: none;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.open{
    display: grid;
}

.card-product-page{
    padding: 20px;
    border: 1px solid #8A8A8A;
    border-radius: 8px; ;
}

.card-product-page:hover{
    background-color: #D8CFC4;
    border: 1px solid #B7A79A;
}

.container-taste{
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 10px;
}

.color-taste{
    display: flex;
    gap: 10px;
}

.main-color{
    width: 24px;
    height: 24px;
    border-radius: 100%;
    cursor: pointer;

}

.content-taste p {
    color: #5A4A42;
    font-weight: 600;
}

.text-taste{
    display: none;
}

.img-card{
    width: 100%;
    overflow: hidden; /* 🔥 penting */
    position: relative; /* buat layering gambar */
    aspect-ratio: 1 / 1

}

.img-product{
    width: 100%;
    height: 100%;
    display: none;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.card-product-page:hover .img-product{
    transform: scale(1.1);
}

.show{
    display: block;
}

.card-product-page button{
    all: unset;
    text-align: center;
    background-color: #3B2F2F;
    border-radius: 10px;
    padding: 10px 0px;
    color: white;
    width: 100%;
    height: auto;
    font-weight: 500;
}














@media(max-width:600px){

    *{
        box-sizing: border-box;
    }
    
    .nav-content{
        display: none;
    }

    .navbar-container{
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 10px 30px;
    }

    .section-start{
        width: 100%;
        flex-direction: column;
        height: auto;
    }

    .hero-text{
        position: absolute;
        left: 15px;
        bottom: 20px;
        right: 40%; /* ini kunci 🔥 */
    }

    .head-hero{
        font-size: 10px;
    }

    .hero-text h2{
        font-size: 18px;
        margin: 0 0 5px 0;
        padding-right: 30px;
        line-height: 1.2;
    }

    .hero-text p{
        font-size: 8px;
        margin: 0;
        line-height: 1.4;
    }

    .container-product{
        display: flex;
        width: 100%;
        align-items: center;
    }

    .card-product{
        width: 40%;
        height: auto;
    }

    .buy-count{
        min-width: 0; /* ini penting di flex */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .section-About{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img-about{
        width: 90%;
        height: auto;
    }

    .content-about{
        width: 90%;
    }

    .review-wrapper{
        width: 300px; /* sesuaikan sama card */
        height: auto;
        overflow-y: hidden;
        margin: auto;
        
    }   

    .header-review{
        text-align: center;
    }

    .header-review h3{
        font-size: 24px;
    }

    .container-cardreview{
        width: 100%;
        max-width: 320px; /* atau sesuai design */
        display: flex;
        justify-content: left;
        gap: 10px;

    }

    .card-review{
        min-width: 90%;
    }

    .profil-container{
        justify-content: left;
    }

    .Container-footer{
        width: 80%;
        display: flex;
        flex-direction: column;
    }


    .container-collab{
        width: 80%;

    }

    .header-collab{
        width: 100%;
    }

    .form-collab{
        width: 100%;
    }

    .icon-burger-menu{
        display: flex;
    }

    .overlay-navbar{
        display: none;
        position: fixed;
        top: 73px;
        left: 0px;
        z-index: 999;
        background-color: rgba(0,0,0,0.55);
        width: 100%;
        height: 100%;
    }

    .container-overlay{
        background-color: #F3F4F6;
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px 10px;
    }

    .Content-nav{
        display: flex;
        flex-direction: column;
        background-color: white;
        height: auto;
        padding: 10px 10px;
        border-radius: 6px;
    }

    .title-nav{
        text-align: center;
    }

    .title-nav{
        margin-bottom: 10px;
    }

    .box-nav{
        width: 100%;
        padding-left: 20px;
    }
    

    /*Shoppage.html*/


    .header-shop{
        width: 100%;

    }

    .container-header{
        width: 100%;
        min-width: 100%;
        display: flex;
        gap: 10px;
    }

    .content-header-shop h1{
        font-size: 35px;
    }

    .right-header-shop{
        width: 100%;
    }

    .right-header-shop img{
        width: 100%;
        height: auto;
        
    } 

    .nav-shop{
        width: 100%;
        padding: 10px 10px;
        overflow-y: hidden;
    }

    .content-nav-shop{
        width: auto;
        padding: 8px 20px;
        white-space: nowrap;
    }

    .content-nav-shop p{
        font-size: 12px;
    }

    .section-product-page{
        width: 100%;
    }

    .container-product-page{
        width: 100%;

    }


    .grid-product{
        padding-left: 14px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1px;
        row-gap: 10px;
    }

    .card-product-page{
        padding: 10px 10px;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}

.ic--round-star {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23ffc400' d='m12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72l3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41l-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18l-1.1 4.72c-.2.86.73 1.54 1.49 1.08z'/%3E%3C/svg%3E");
}

.mingcute--right-fill {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%233B2F2F' d='M16.06 10.94a1.5 1.5 0 0 1 0 2.12l-5.656 5.658a1.5 1.5 0 1 1-2.121-2.122L12.879 12L8.283 7.404a1.5 1.5 0 0 1 2.12-2.122l5.658 5.657Z'/%3E%3C/g%3E%3C/svg%3E");
}

.ic--round-star1 {
  display: inline-block;
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23ffc400' d='m12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72l3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41l-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18l-1.1 4.72c-.2.86.73 1.54 1.49 1.08z'/%3E%3C/svg%3E");
}

.ic--round-star2 {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23ffc400' d='m12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72l3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41l-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18l-1.1 4.72c-.2.86.73 1.54 1.49 1.08z'/%3E%3C/svg%3E");
}

.mdi--instagram {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3'/%3E%3C/svg%3E");
}

.ic--baseline-facebook {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95'/%3E%3C/svg%3E");
}

.ic--baseline-tiktok {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M16.6 5.82s.51.5 0 0A4.28 4.28 0 0 1 15.54 3h-3.09v12.4a2.59 2.59 0 0 1-2.59 2.5c-1.42 0-2.6-1.16-2.6-2.6c0-1.72 1.66-3.01 3.37-2.48V9.66c-3.45-.46-6.47 2.22-6.47 5.64c0 3.33 2.76 5.7 5.69 5.7c3.14 0 5.69-2.55 5.69-5.7V9.01a7.35 7.35 0 0 0 4.3 1.38V7.3s-1.88.09-3.24-1.48'/%3E%3C/svg%3E");
}

.mingcute--right-fill1{
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23fff' d='M16.06 10.94a1.5 1.5 0 0 1 0 2.12l-5.656 5.658a1.5 1.5 0 1 1-2.121-2.122L12.879 12L8.283 7.404a1.5 1.5 0 0 1 2.12-2.122l5.658 5.657Z'/%3E%3C/g%3E%3C/svg%3E");
}

.iconamoon--menu-burger-horizontal-bold {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5' d='M3 6h18M3 12h18M3 18h18'/%3E%3C/svg%3E");
}



