<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <div class="navbar-container">

        <div class="icon-burger-menu" id="icon-burger-menu">
            <span class="iconamoon--menu-burger-horizontal-bold"></span>
        </div>

        <div class="title-brand">
            <img src="../static/img/logo v2.png" alt="">
        </div>

        <div class="nav-content">
            <div class="nav">
                <a href="{{ url_for('index') }}">
                    <P>About Kopi Kita</P>
                </a>
            </div>

            <div class="nav">
                <a href="{{ url_for('shopPage') }}">
                    <P>Shop</P>
                </a>
            </div>

            <div class="nav">
                <a href="#">
                    <P>cart</P>
                </a>
            </div>

            <div class="nav">
                <a href="{{ url_for('navAccount') }}">
                    <P>Account</P>
                </a>
            </div>
        </div>
    </div>

    <div class="overlay-navbar" id="overlay-navbar">
        <div class="container-overlay">
            <div class="Content-nav">
                <div class="title-nav">
                    <h3>Explore</h3>
                </div>

                <div class="box-nav">
                    <P>Home</P>
                </div>

                <div class="box-nav">
                    <p>Shop</p>
                </div>

                <div class="box-nav">
                    <p>Our coffee</p>
                </div>    
            </div>

            <div class="Content-nav">
                <div class="title-nav">
                    <h3>Discover</h3>
                </div>

                <div class="box-nav">
                    <p>Best Sellers</p>
                </div>

                <div class="box-nav">
                    <p>Contact</p>
                </div>  
            </div>

            <div class="Content-nav">

                <div class="title-nav">
                    <h3>PATNER WITH US</h3>
                </div>
                <div class="box-nav">
                        <P>Join PatnerShip</P>
                </div>
            </div>
        </div>
    </div>

    <div class="section-accountpage">

        <div class="header-accountpage">
            <div class="content-header-accountpage">
                <h1>Akun Saya</h1>
                <p>Kelola profil dan pantau ritual kopi Anda.</p>
            </div>
        </div>

        <div class="main-accountpage">
            <div class="container-accountpage">
                <div class="content-accountpage left">
                    <div class="container-info-account">
                        
                        <div class="header-info-account">
                            <P>Profil Saya</P>
                            <div class="icon-profil">
                                <span class="icon-park-outline--peopler"></span>
                            </div>
                        </div>

                        <div class="container-content-account">

                            <div class="content-account">

                                <div class="header-content-account">
                                    <P>Username</P>
                                </div>

                                <div class="data-account">
                                    <P class="data-info">{{ session.name }}</P>
                                    <P class="data-edit">Edit</P>
                                </div>
                            </div>

                            <div class="content-account">

                                <div class="header-content-account">
                                    <P>Email</P>
                                </div>

                                <div class="data-account">
                                    <P class="data-info">{{ session.email }}</P>
                                    <P class="data-edit">Edit</P>
                                </div>
                            </div>

                            <div class="content-account">

                                <div class="header-content-account">
                                    <P>Password</P>
                                </div>

                                <div class="data-account">
                                    <P class="data-info">{{ session.get('password') }}</P>
                                    <P class="data-edit">Edit</P>
                                </div>
                            </div>

                            <div class="logout-button">
                                <button>
                                    <a href="{{ url_for('logout') }}">Logout</a>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="content-accountpage right">
                    <div class="header-info-account">
                        <P>Riwayat Pemesanan</P>
                    </div>

                    <div class="container-history-order">

                        {% for trx in transaksi %}
                        <div class="content-history-order">
                            <div class="header-history-order">
                                <div class="content-header-history">
                                    <div class="header-history left">
                                        <P><b>Pesanan #{{trx.order_id}}</b></P>
                                        <p>{{ trx.created_at.strftime('%Y-%m-%d') }}</p>
                                    </div>

                                    <div class="header-history right">
                                        <P>{{ trx.status}}</P>
                                    </div>
                                </div>
                            </div>

                            <div class="content-main-history">
                                <div class="left-content-history">
                                    <div class="img-product-history">
                                        <img src="{{ url_for('static', filename=trx.path_img) }}">
                                    </div>

                                    <div class="detail-product-history">
                                        <P>{{trx.nama_product}}</P>
                                        {% if trx.jumlah_produk > 1 %}
                                            <p>Dan {{ trx.jumlah_produk - 1 }} item lainnya</p>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="right-content-history">
                                    <div class="detail-total-history">
                                        <P>Rp. {{ "{:,.0f}".format(trx.grand_total).replace(",", ".") }}</P>
                                    </div>
                                </div>
                            </div>

                            <div class="button-detail">
                                <a href="">
                                    <button>Detail</button>
                                </a>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>
</html>