<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


</head>
<body>

    <div class="navbar-checkout">
        <div class="title-brand checkout">
            <img src="/static/img/logo v2.png" alt="logo">
        </div>
    </div>
    
    <div class="header-invoice">
        <div class="content-header-invoice">
            <div class="status-order">
                <P>{{transaksi.status}}</P>
            </div>

            <div class="translate-status">
                <P>Pesanan Menunggu Konfirmasi</P>
            </div>

            <div class="order-id">
                <P>Order Id:<B> {{ transaksi.order_id }}</B> • {{ transaksi.created_at.strftime('%y-%m-%d %H:%M') }}</P>
                <div class="button-help-invoice">
                    <button>Bantuan</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-status-invoice">
        <div class="content-status-invoice">

            <div class="main-status 
                {% if transaksi.status == 'waiting confirmation' %}
                    current
                {% elif transaksi.status in ['processing', 'shipping', 'completed'] %}
                    completed
                {% else %}
                    pending
                {% endif %}
            ">
                <div class="icon-status">
                    <span class="material-symbols--timer-outline"></span>
                </div>
                <div class="text-status">
                    <p>Menunggu Konfirmasi</p>
                </div>
            </div>

            <div class="main-status 
                {% if transaksi.status == 'processing' %}
                    current
                {% elif transaksi.status in ['shipping', 'completed'] %}
                    completed
                {% else %}
                    pending
                {% endif %}
            ">
                <div class="icon-status">
                    <span class="material-symbols--coffee-outline-rounded"></span>
                </div>
                <div class="text-status">
                    <p>Pesanan Diproses</p>
                </div>
            </div>

            <div class="main-status 
                {% if transaksi.status == 'shipping' %}
                    current
                {% elif transaksi.status == 'completed' %}
                    completed
                {% else %}
                    pending
                {% endif %}
            ">
                <div class="icon-status">
                    <span class="mdi--truck-outline"></span>
                </div>
                <div class="text-status">
                    <p>Pesanan Diantar</p>
                </div>
            </div>

            <div class="main-status 
                {% if transaksi.status == 'completed' %}
                    current completed
                {% else %}
                    pending
                {% endif %}
            ">
                <div class="icon-status">
                    <span class="mdi--location-outline"></span>
                </div>
                <div class="text-status">
                    <p>Pesanan Sampai</p>
                </div>
            </div>

        </div>
    </div>

    <div class="container-main-invoice">
        <div class="content-main-invoice">
            <div class="left-main-invoice">

                <div class="item-list-invoice">
                    <div class="header-item-list">
                        <P>Item Pesanan</P>
                    </div>

                    <div class="main-item-list">
                        {% for item in checkout_items %}
                        <div class="container-product-list">
                            <div class="img-product-list">
                                <img src="{{ url_for('static', filename=item.path_img) }}">
                            </div>

                            <div class="detail-product-list">
                                <div class="name-product-list">
                                    <P>{{ item.nama_product }}</P>
                                    <P class="name-variant">{{item.variant}}</P>
                                </div>

                                <div class="price-produt-list">
                                    <div class="left-product-list">
                                        {{ item.qty }}x
                                    </div>
                                    
                                    <div class="right-product-list">
                                        <P>Rp. {{ item.price * item.qty }}</P>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        {% endfor %}
                    </div>
                </div>

            </div>

            <div class="right-main-invoice">
                <div class="item-list-invoice">
                    <div class="header-item-list">
                        <P>Item Pesanan</P>
                    </div>

                    <div class="main-item-list">
                        {% for item in checkout_items %}
                        <div class="container-product-list">
                            <P>{{ item.nama_product }}</P>
                        </div> 
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>