<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="navbar-checkout">
        <div class="title-brand checkout">
            <img src="/static/img/logo v2.png" alt="logo">
        </div>
    </div>
    
    <div class="container-payment-page">
        <div class="header-payment">
            <h3>Selesaikan Pembayaran Anda</h3>
        </div>

        <div class="timer-payment">
            <div class="icon-timer">
                <span class="mingcute--time-line"></span>
            </div>

            <div class="text-timer">
                <P>Berakhir dalam</P>
            </div>

            <div class="countdown-payment">
                24:00:00
            </div>
        </div>

        <div class="payment-content">

            <!-- LEFT -->
            <div class="payment-left">
                <div class="payment-card va-card" id="va-payment">
                    <div class="header-payment-card">
                        
                        <div class="hero-text-payment">
                            <H6 id="va-payment-type">Virtual Account</H6>
                            <P id="va-payment-title""></P>
                        </div>

                        <div class="img-header-payment">
                            <img id="va-payment-img">
                        </div>
                    </div>

                    <div class="info-va-card">
                        <div class="header-info-va">
                            <P>Nomor Virtual Account</P>
                        </div>

                        <div class="main-info-va">
                            <div class="text-info-va">
                                <p id="virtual-account-number"></p>
                            </div>

                            <div class="icon-copy">
                                <span class="tabler--copy"></span>
                                <P>Salin</P>
                            </div>
                        </div>
                    </div>

                    <div class="line-payment-card">

                    </div>

                    <div class="total-price-payment">
                        <P>Total Pembayaran</P>
                        <h4>Rp. 194.000</h4>
                    </div>
                </div>

                <div class="payment-card qris-card" id="qris-payment">
                    <div class="header-payment-card">
                        
                        <div class="hero-text-payment">
                            <h6 id="qris-payment-type">Pembayaran QRIS</h6>
                            <p id="qris-payment-title"></p>
                        </div>

                        <div class="img-header-payment">
                            <img id="qris-payment-img">
                        </div>
                    </div>

                    
                    <div class="container-qris-barcode">

                    </div>
                </div>

                <div class="payment-card instruction-card">
                    <div class="header-instruction-card">
                        <p>Intruksi Pembayaran</p>
                    </div>

                    <!--Payment Methods with atm-->
                    <div class="payment-method">
                        <div class="header-payment-method">
                            <div class="left-payment-with-atm">
                                <div class="icon-atm">
                                    <span class="ic--round-atm"></span>
                                </div>

                                <div class="text-section-payment">
                                    <P>ATM Mandiri</P>
                                </div>
                            </div>

                            <div class="right-payment-with-atm">
                                <span class="mingcute--right-line"></span>
                            </div>
                        </div>

                        <div class="text-instruction">
                            <P>1. Masukan kartu ATM dan PIN anda.</P>
                            <P>2. Pilih menu <B>Bayar/Beli</B>.</P>
                            <P>3. Pilih <b>Multi Payment</b>.</P>
                            <P>4. Masukan Kode Virtual Account Anda.</P>
                            <P>5. Konfirmasi pembayaran dan simpan struk anda</P>
                        </div>
                    </div>

                    <!--Payment methods with mbanking-->
                    <div class="payment-method">
                        <div class="header-payment-method">
                            <div class="left-payment-with-atm">
                                <div class="icon-atm">
                                    <span class="gridicons--phone"></span>
                                </div>

                                <div class="text-section-payment">
                                    <P>ATM Mandiri</P>
                                </div>
                            </div>

                            <div class="right-payment-with-atm">
                                <span class="mingcute--right-line"></span>
                            </div>
                        </div>

                        <div class="text-instruction">
                            <P>1. Login ke aplikasi Livin' by Mandiri.</P>
                            <P>2. Pilih menu <B>Bayar</B>.</P>
                            <P>3. Masukkan Nomor Virtual Account Anda.</P>
                            <P>4. Masukkan PIN Mandiri Anda untuk menyelesaikan transaksi.</P>
                        </div>
                    </div>

                    <!--Payment methods with internet banking-->
                    <div class="payment-method last-method">
                        <div class="header-payment-method">
                            <div class="left-payment-with-atm">
                                <div class="icon-atm">
                                    <span class="ic--baseline-laptop"></span>
                                </div>

                                <div class="text-section-payment">
                                    <P>Internet Banking</P>
                                </div>
                            </div>

                            <div class="right-payment-with-atm">
                                <span class="mingcute--right-line"></span>
                            </div>
                        </div>

                        <div class="text-instruction">
                            <P>Langkah-langkah serupa dengan Mobile Banking melalui portal resmi bank.</P>
                        </div>
                    </div>
                </div>
            </div>

            <!-- RIGHT -->
            <div class="payment-right">
                <div class="payment-card status-card">

                    <div class="container-status-card">
                        <div class="header-status-card">
                            <p>Sudah Melakukan <br>Pembayaran?</p>
                        </div>

                        <div class="text-status-card">
                            <P>Sistem kami akan memverifikasi pembayaran<br> 
                                Anda secara otomatis 5-10 menit setelah<br> 
                                transfer berhasil.
                            </P>    
                        </div>
                    </div>

                    <div class="button-status-card">
                        <button class="alrd-buy"> Saya Sudah Bayar</button>
                        <button class="check-status">Check Status Otomatis</button>
                    </div>
                </div>

                <div class="payment-card help-card">
                    <div class="left-help-card">
                        <span class="material-symbols--help-outline"></span>
                    </div>

                    <div class="right-help-card">
                        <div class="header-help-card">
                            <P>Butuh Bantuan?</P>
                        </div>
                        
                        <div class="text-help-card">
                            <P>Hubungi tim kurasi pelanggan kami jika<br> Anda mengalami kendala pembayaran.</P>
                        </div>

                        <div class="link-to-help">
                            <div class="text-link-help">
                                <P>Chat WhatsApp</P>
                            </div>

                            <div class="icon-right">
                                <span class="ep--right"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</body>

<script src="{{ url_for('static', filename='js/paymentPage.js') }}"></script>
</html>