<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/css/style.css?v=2">
</head>
<body>
    <div class="navbar-container">

        <div class="icon-burger-menu" id="icon-burger-menu">
            <span class="iconamoon--menu-burger-horizontal-bold"></span>
        </div>

        <div class="title-brand">
            <img src="../static/img/logo v2.png" alt="">
        </div>

        <div class="nav-content">
            <div class="nav">
                <a href="{{ url_for('index') }}">
                    <P>About Kopi Kita</P>
                </a>
            </div>

            <div class="nav">
                <a href="{{ url_for('shopPage') }}">
                    <P>Shop</P>
                </a>
            </div>

            <div class="nav">
                <a href="#">
                    <P>cart</P>
                </a>
            </div>

            <div class="nav">
                <a href="{{ url_for('navAccount') }}">
                    <P>Account</P>
                </a>
            </div>
        </div>
    </div>

    <div class="header-shop">
        <div class="container-header">
            <div class="left-header-shop">
                <div class="content-header-shop">
                    <h1>All Product</h1>
                    <p>Jelajahi seluruh koleksi KopiKita untuk pengalaman kopi yang lengkap dan premium.</p>
                </div>
            </div>

            <div class="right-header-shop">
                <img src="../static/img/all-product-2.jpg" alt="">
            </div>
        </div>

        <div class="nav-shop">
            <div class="content-nav-shop active" id="button-nav-shop" data-target="all">
                <p>all Product</p>
            </div>

            <div class="content-nav-shop" id="button-nav-shop" data-target="ground">
                <p>Ground Coffe</p>
            </div>

            <div class="content-nav-shop" id="button-nav-shop" data-target="cold">
                <p>Cold Brew</p>
            </div>

            <div class="content-nav-shop" id="button-nav-shop" data-target="drip">
                <p>Drip Coffe Pack</p>
            </div>
        </div>
    </div>

    <div class="section-product-page">
        <div class="container-product-page">
            <div class="grid-product open" id="all">

                <div class="card-product-page">
                    <div class="img-card">
                        <img src="../static/img/img-product1/rasa-alpukat.jpg" class="img-product show ">
                        <img src="../static/img/img-product1/rasa-gulaaren.jpg" class="img-product ">
                        <img src="../static/img/img-product1/rasa-caramel.jpg" class="img-product">
                    </div>

                    <div class="text-card">
                        <span>Signature Series</span>
                        <div class="price-card">
                            <p>Rp 90.000,00</p>
                        </div>

                        <div class="review-card">
                            <div class="icon-star">
                                <span class="ic--round-star"></span>
                                <div class="review-count">
                                    4.9
                                </div>
                            </div>

                            <div class="line-review">
                                <p> | </p>
                            </div>

                            <div class="buy-count">
                                <P> 100+ items sold</P>
                            </div>
                        </div>
                    </div>

                    <div class="container-taste">
                        <div class="content-taste" id="text-taste">
                            <p class="text-taste show">Original</p>
                            <P class="text-taste">Gula Aren</P>
                            <P class="text-taste">Caramel Bliss</P>
                        </div>

                        <div class="color-taste">
                            <div class="main-color"  style="background-color: #76734B;"></div>
                            <div class="main-color"  style="background-color: #563C2B;"></div>
                            <div class="main-color"  style="background-color: #C68E17;"></div>
                        </div>
                    </div>

                    <button>Add To Chart</button>
                </div>

                <div class="card-product-page">
                    <div class="img-card">
                        <img src="../static/img/img-product2/rasa-Strawberry.jpg" class="img-product show ">
                        <img src="../static/img/img-product2/rasa-manggo-smooth.jpg" class="img-product ">
                        <img src="../static/img/img-product2/rasa-citrus-brew.jpg" class="img-product ">
                    </div>

                    <div class="text-card">
                        <p>Fruity Series</p>
                        <div class="price-card">
                            <p>Rp 90.000,00</p>
                        </div>

                        <div class="review-card">
                            <div class="icon-star">
                                <span class="ic--round-star"></span>
                                <div class="review-count">
                                    4.9
                                </div>
                            </div>

                            <div class="line-review">
                                <p> | </p>
                            </div>

                            <div class="buy-count">
                                <P> 100+ items sold</P>
                            </div>
                        </div>
                    </div>

                    <div class="container-taste">
                        <div class="content-taste" id="text-taste">
                            <p class="text-taste show">Strawberry Cream</p>
                            <P class="text-taste">Mango Smooth</P>
                            <P class="text-taste">Citrus Brew</P>
                        </div>

                        <div class="color-taste">
                            <div class="main-color"  style="background-color: #E63946;"></div>
                            <div class="main-color"  style="background-color: #FFB703;"></div>
                            <div class="main-color"  style="background-color: #FF8C42;"></div>
                        </div>
                    </div>

                    <button>Add To Chart</button>
                </div>

                <div class="card-product-page">
                    <div class="img-card">
                        <img src="../static/img/product-cold-brew/Cold-brew.jpg" class="img-product show">
                    </div>

                    <div class="text-card">
                        <p>Classic Cold Brew</p>
                        <div class="price-card">
                            <p>Rp 90.000,00</p>
                        </div>

                        <div class="review-card">
                            <div class="icon-star">
                                <span class="ic--round-star"></span>
                                <div class="review-count">
                                    4.9
                                </div>
                            </div>

                            <div class="line-review">
                                <p> | </p>
                            </div>

                            <div class="buy-count">
                                <P> 100+ items sold</P>
                            </div>
                        </div>
                    </div>

                    <div class="container-taste" >
                        <div class="content-taste" id="text-taste">
                            <p class="text-taste show">Classic Flavor</p>
                        </div>

                        <div class="color-taste">
                            <div class="main-color"  style="background-color: #4B2E2B;"></div>
                        </div>
                    </div>

                    <button>Add To Chart</button>
                </div>

                <div class="card-product-page">
                    <div class="img-card">
                        <img src="../static/img/img-product1/rasa-alpukat.jpg">
                    </div>

                    <div class="text-card">
                        <p>Ground Coffee</p>
                        <div class="price-card">
                            <p>Rp 90.000,00</p>
                        </div>

                        <div class="review-card">
                            <div class="icon-star">
                                <span class="ic--round-star"></span>
                                <div class="review-count">
                                    4.9
                                </div>
                            </div>

                            <div class="line-review">
                                <p> | </p>
                            </div>

                            <div class="buy-count">
                                <P> 100+ items sold</P>
                            </div>
                        </div>
                    </div>

                    <button>Add To Chart</button>
                </div>

                <div class="card-product-page">
                    <div class="img-card">
                        <img src="../static/img/img-product1/rasa-alpukat.jpg">
                    </div>

                    <div class="text-card">
                        <p>Ground Coffee</p>
                        <div class="price-card">
                            <p>Rp 90.000,00</p>
                        </div>

                        <div class="review-card">
                            <div class="icon-star">
                                <span class="ic--round-star"></span>
                                <div class="review-count">
                                    4.9
                                </div>
                            </div>

                            <div class="line-review">
                                <p> | </p>
                            </div>

                            <div class="buy-count">
                                <P> 100+ items sold</P>
                            </div>
                        </div>
                    </div>

                    <button>Add To Chart</button>
                </div>
            </div>

            <div class="grid-product" id="ground">
                <div class="card-product-page">
                    <div class="img-card">
                        <img src="../static/img/img-product1/rasa-alpukat.jpg" class="img-product show ">
                        <img src="../static/img/img-product1/rasa-gulaaren.jpg" class="img-product ">
                        <img src="../static/img/img-product1/rasa-caramel.jpg" class="img-product">
                    </div>

                    <div class="text-card">
                        <span>Signature Series</span>
                        <div class="price-card">
                            <p>Rp 90.000,00</p>
                        </div>

                        <div class="review-card">
                            <div class="icon-star">
                                <span class="ic--round-star"></span>
                                <div class="review-count">
                                    4.9
                                </div>
                            </div>

                            <div class="line-review">
                                <p> | </p>
                            </div>

                            <div class="buy-count">
                                <P> 100+ items sold</P>
                            </div>
                        </div>
                    </div>

                    <div class="container-taste">
                        <div class="content-taste" id="text-taste">
                            <p class="text-taste show">Original</p>
                            <P class="text-taste">Gula Aren</P>
                            <P class="text-taste">Caramel Bliss</P>
                        </div>

                        <div class="color-taste">
                            <div class="main-color"  style="background-color: #76734B;"></div>
                            <div class="main-color"  style="background-color: #563C2B;"></div>
                            <div class="main-color"  style="background-color: #C68E17;"></div>
                        </div>
                    </div>

                    <button>Add To Chart</button>
                </div>

                <div class="card-product-page">
                    <div class="img-card">
                        <img src="../static/img/img-product2/rasa-Strawberry.jpg" class="img-product show ">
                        <img src="../static/img/img-product2/rasa-manggo-smooth.jpg" class="img-product ">
                        <img src="../static/img/img-product2/rasa-citrus-brew.jpg" class="img-product ">
                    </div>

                    <div class="text-card">
                        <p>Fruity Series</p>
                        <div class="price-card">
                            <p>Rp 90.000,00</p>
                        </div>

                        <div class="review-card">
                            <div class="icon-star">
                                <span class="ic--round-star"></span>
                                <div class="review-count">
                                    4.9
                                </div>
                            </div>

                            <div class="line-review">
                                <p> | </p>
                            </div>

                            <div class="buy-count">
                                <P> 100+ items sold</P>
                            </div>
                        </div>
                    </div>

                    <div class="container-taste">
                        <div class="content-taste" id="text-taste">
                            <p class="text-taste show">Strawberry Cream</p>
                            <P class="text-taste">Mango Smooth</P>
                            <P class="text-taste">Citrus Brew</P>
                        </div>

                        <div class="color-taste">
                            <div class="main-color"  style="background-color: #E63946;"></div>
                            <div class="main-color"  style="background-color: #FFB703;"></div>
                            <div class="main-color"  style="background-color: #FF8C42;"></div>
                        </div>
                    </div>

                    <button>Add To Chart</button>
                </div>
            </div>
        </div>
    </div>

    <div class="section-footer">
        <div class="container-collab">
            <div class="header-collab">
                <H3>Join Our Partnership Program</H3>
                <p>Grow your business with KopiKita. Become a partner and bring premium coffee experience to more people.</p>
            </div>

            <div class="form-collab">
                <input type="email" placeholder="Enter your email">
                <button>Join Now</button>
            </div>
        </div>
        
        <div class="Container-footer">
            <div class="header-footer">
                <div class="icon-footer">
                    <span class="mdi--instagram"></span>
                </div>
                <div class="icon-footer">
                    <span class="ic--baseline-facebook"></span>
                </div>
                <div class="icon-footer">
                    <span class="ic--baseline-tiktok"></span>
                </div>
            </div>

            <div class="main-footer">
                <div class="content-footer">
                    <div class="header-content-footer">
                        <P>Shop</P>
                        <span class="mingcute--right-fill1"></span>
                    </div>

                    <div class="overlay-content-footer">
                        <P>All Products</P>
                        <p>Best Sellers</p>
                        <P>New Arrivals</P>
                        <P>Bundles</P>
                    </div>
                </div>

                <div class="content-footer">
                    <div class="header-content-footer">
                        <P>Our coffee</P>
                        <span class="mingcute--right-fill1"></span>
                    </div>

                    <div class="overlay-content-footer">
                        <P>All Products</P>
                        <p>Best Sellers</p>
                        <P>New Arrivals</P>
                        <P>Bundles</P>
                    </div>
                </div>

                <div class="content-footer">
                    <div class="header-content-footer">
                        <p>About KopiKita</p>
                        <span class="mingcute--right-fill1"></span>
                    </div>

                    <div class="overlay-content-footer">
                        <P>All Products</P>
                        <p>Best Sellers</p>
                        <P>New Arrivals</P>
                        <P>Bundles</P>
                    </div>
                </div>

                <div class="content-footer">
                    <div class="header-content-footer">
                        <P>Support</P>
                        <span class="mingcute--right-fill1"></span>
                    </div>

                    <div class="overlay-content-footer">
                        <P>All Products</P>
                        <p>Best Sellers</p>
                        <P>New Arrivals</P>
                        <P>Bundles</P>
                    </div>
                </div>
            </div>
        </div>
    </div> 

    <div class="overlay-navbar" id="overlay-navbar">
        <div class="container-overlay">
            <div class="Content-nav">
                <div class="title-nav">
                    <h3>Explore</h3>
                </div>

                <div class="box-nav">
                    <P>Home</P>
                </div>

                <div class="box-nav">
                    <p>Shop</p>
                </div>

                <div class="box-nav">
                    <p>Our coffee</p>
                </div>    
            </div>

            <div class="Content-nav">
                <div class="title-nav">
                    <h3>Discover</h3>
                </div>

                <div class="box-nav">
                    <p>Best Sellers</p>
                </div>

                <div class="box-nav">
                    <p>Contact</p>
                </div>  
            </div>

            <div class="Content-nav">

                <div class="title-nav">
                    <h3>PATNER WITH US</h3>
                </div>
                <div class="box-nav">
                        <P>Join PatnerShip</P>
                </div>
            </div>
        </div>
    </div>

    <div class="overlay-cart">
        <div class="container-cart">
            <div class="header-cart">
                <span class="ic--outline-shopping-cart"></span>
                <p>your Cart</p>
            </div>

            <div class="product-cart-container">
                p
            </div>
        </div>
    </div>

    <script src="/static/js/shoppage.js?v=2"></script>
</body>
</html>